@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/LayoutHome.cshtml";
}

<h2 style="text-align:center;padding-top: 20px; margin-bottom:50px">Chúng Tôi Cung Cấp Những Loại Xe</h2>
<div class=" row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="~/Images/XeThuong.jpg" class="card-img-top" alt="Xe Đạp Thường">
            <div class="card-body">
                <h5 class="card-title">Xe Đạp Thường</h5>
                <p class="card-text">Giúp trải nghiệm ngắm cảnh năng động hơn!</p>
                <a style="float:right" href="@Url.Action("ChiTietXe", "Home", new {area = ""})" class="btn btn-primary">Xem Thông Tin</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="~/Images/XeDapDoi.jpg" class="card-img-top" alt="Xe Đạp Đôi">
            <div class="card-body">
                <h5 class="card-title">Xe Đạp Đôi</h5>
                <p class="card-text">Dành cho những cặp đôi!</p>
                <a style="float:right" href="@Url.Action("ChiTietXe", "Home", new {area = ""})" class="btn btn-primary">Xem Thông Tin</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="~/Images/XeTheThao.jpg" class="card-img-top" alt="Xe Đạp Thể Thao">
            <div class="card-body">
                <h5 class="card-title">Xe Đạp Thể Thao</h5>
                <p class="card-text">Cuộc sông năng động</p>
                <a style="float:right" href="@Url.Action("ChiTietXe", "Home", new {area = ""})" class="btn btn-primary">Xem Thông Tin</a>
            </div>
        </div>
    </div>

    <!-- Thêm các thẻ card khác tương tự cho các loại xe đạp khác -->
</div>
<div class="col-12" style="text-align:center; padding-bottom: 20px">
    <img src="~/Images/banner.png" alt="Logo" style="max-height:700px;" class="img-fluid w-90 rounded">
</div>

