
@{
    Layout = null;
}

<div class="container bg-light p-4 rounded" style="font-size: 18px;">
    <div class="row">
        <div class="col-md-6 text-center">
            <p class="mb-0"><strong style="font-size: 22px;">Giờ mở cửa:</strong></p>
            <p class="mb-0" style="font-size: 20px;">7:00 - 21:00 (Mon - Sun)</p>
        </div>
        <div class="col-md-6 text-center">
            <p class="mb-0"><strong style="font-size: 22px;">Liên hệ với chúng tôi:</strong></p>
            <p class="mb-0" style="font-size: 20px;">07984564654</p>
        </div>
    </div>

    <hr class="my-4">

    <div class="text-center">
        <div class="social-icons">
            <a href="#" class="text-dark" style="font-size: 24px;margin-right: 20px"><i class="fab fa-facebook"></i></a>
            <a href="#" class="text-dark" style="font-size: 24px;margin-right: 20px"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-dark" style="font-size: 24px;margin-right: 20px"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-dark" style="font-size: 24px;"><i class="fab fa-youtube"></i></a>
        </div>
        <p style="font-size: 20px;">DHGo - An toàn - Sức khỏe</p>
        <p style="font-size: 20px;">© 2024 - @@@@@@</p>
    </div>
</div>
