
@{
    ViewBag.Title = "GopY";
    Layout = "~/Areas/User/Views/Shared/LayoutUser.cshtml";
}

<div class="container mt-5">
    <div style="border-radius:30px" class="card p-4">
        <h2 style="text-align: center; padding-bottom: 30px">Yêu cầu và Góp ý</h2>
        @using (Html.BeginForm())
        {
        <div class="form-row">
            <div style="margin-left: 150px" class="form-group col-md-4">
                <label for="fullName">Tiêu đề</label>
                <input name="sTieuDe" type="text" class="form-control" id="fullName" placeholder="Nhập tiêu đề" required>
            </div>
            <div style="margin-left: 50px" class="form-group col-md-4">
                <label for="email">Email</label>
                <input name="sEmail" type="email" class="form-control" id="email" placeholder="Nhập địa chỉ email" required>
            </div>
        </div>
        <div style="margin-left: 130px; padding-bottom: 30px" class="form-group col-md-9">
            <label for="feedback">Góp ý của bạn:</label>
            <textarea name="sNoiDung" class="form-control" id="feedback" rows="4" placeholder="Nhập góp ý của bạn" required></textarea>
        </div>
        <div class="text-center" style="margin-bottom:20px">
            <button type="submit" class="btn btn-primary">Gửi</button>
        </div>
        }
    </div>
</div>


